# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Distribution / packaging
*.egg-info/

# Sphinx Build files
doctrees/

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# mypy
.mypy_cache/
