# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Distribution / packaging
*.egg-info/

# Python Build
/bin
/build

# Sphinx Build files
doctrees/
docs/build/

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# mypy
.mypy_cache/

# linting
.pylintrc
